=begin
#BombBomb

#We make it easy to build relationships using simple videos.

OpenAPI spec version: 2.0.831

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module BombBomb
  class AutomationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get Automation Email Stats
    # Get Automation Email Stats
    # @param drip_id The id of the drip
    # @param drip_drop_id The id of the drip drop
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_drip_drop_stats(drip_id, drip_drop_id, opts = {})
      get_drip_drop_stats_with_http_info(drip_id, drip_drop_id, opts)
      return nil
    end

    # Get Automation Email Stats
    # Get Automation Email Stats
    # @param drip_id The id of the drip
    # @param drip_drop_id The id of the drip drop
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_drip_drop_stats_with_http_info(drip_id, drip_drop_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationsApi.get_drip_drop_stats ..."
      end
      # verify the required parameter 'drip_id' is set
      if @api_client.config.client_side_validation && drip_id.nil?
        fail ArgumentError, "Missing the required parameter 'drip_id' when calling AutomationsApi.get_drip_drop_stats"
      end
      # verify the required parameter 'drip_drop_id' is set
      if @api_client.config.client_side_validation && drip_drop_id.nil?
        fail ArgumentError, "Missing the required parameter 'drip_drop_id' when calling AutomationsApi.get_drip_drop_stats"
      end
      # resource path
      local_var_path = "/automation/{dripId}/dripdrop/{dripDropId}/stats".sub('{' + 'dripId' + '}', drip_id.to_s).sub('{' + 'dripDropId' + '}', drip_drop_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationsApi#get_drip_drop_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Automation Stats
    # Get Automation Stats
    # @param id The id of the automation
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_drip_stats(id, opts = {})
      get_drip_stats_with_http_info(id, opts)
      return nil
    end

    # Get Automation Stats
    # Get Automation Stats
    # @param id The id of the automation
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_drip_stats_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationsApi.get_drip_stats ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationsApi.get_drip_stats"
      end
      # resource path
      local_var_path = "/automation/{id}/stats".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationsApi#get_drip_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the number of pending scheduling calculations
    # Get the number of pending scheduling calculations
    # @param id The id of the automation
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_scheduling_status(id, opts = {})
      get_scheduling_status_with_http_info(id, opts)
      return nil
    end

    # Get the number of pending scheduling calculations
    # Get the number of pending scheduling calculations
    # @param id The id of the automation
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_scheduling_status_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationsApi.get_scheduling_status ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationsApi.get_scheduling_status"
      end
      # resource path
      local_var_path = "/automation/{id}/scheduling/status".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationsApi#get_scheduling_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
