=begin
#BombBomb

#We make it easy to build relationships using simple videos.

OpenAPI spec version: 2.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module BombBomb
  class PromptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a running Prompt Bot for a list
    # Creates a Prompt Bot that sends emails to contacts on a list over the span of time defined.
    # @param email_id The default email to use.
    # @param name The name of the bot.
    # @param subject The subject of the default email.
    # @param content The content used in the email.
    # @param contact_field_value_column The custom field value column with dates for this bot.
    # @param bot_type_id The type of bot to create.
    # @param template_id The template used to create the email id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :list_id The list id to attach the bot to.
    # @option opts [String] :video_id The video used in the email.
    # @option opts [String] :end_date The time frame to complete sending to the list.
    # @return [PromptBot]
    def create_prompt_bot(email_id, name, subject, content, contact_field_value_column, bot_type_id, template_id, opts = {})
      data, _status_code, _headers = create_prompt_bot_with_http_info(email_id, name, subject, content, contact_field_value_column, bot_type_id, template_id, opts)
      return data
    end

    # Create a running Prompt Bot for a list
    # Creates a Prompt Bot that sends emails to contacts on a list over the span of time defined.
    # @param email_id The default email to use.
    # @param name The name of the bot.
    # @param subject The subject of the default email.
    # @param content The content used in the email.
    # @param contact_field_value_column The custom field value column with dates for this bot.
    # @param bot_type_id The type of bot to create.
    # @param template_id The template used to create the email id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :list_id The list id to attach the bot to.
    # @option opts [String] :video_id The video used in the email.
    # @option opts [String] :end_date The time frame to complete sending to the list.
    # @return [Array<(PromptBot, Fixnum, Hash)>] PromptBot data, response status code and response headers
    def create_prompt_bot_with_http_info(email_id, name, subject, content, contact_field_value_column, bot_type_id, template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.create_prompt_bot ..."
      end
      # verify the required parameter 'email_id' is set
      fail ArgumentError, "Missing the required parameter 'email_id' when calling PromptsApi.create_prompt_bot" if email_id.nil?
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling PromptsApi.create_prompt_bot" if name.nil?
      # verify the required parameter 'subject' is set
      fail ArgumentError, "Missing the required parameter 'subject' when calling PromptsApi.create_prompt_bot" if subject.nil?
      # verify the required parameter 'content' is set
      fail ArgumentError, "Missing the required parameter 'content' when calling PromptsApi.create_prompt_bot" if content.nil?
      # verify the required parameter 'contact_field_value_column' is set
      fail ArgumentError, "Missing the required parameter 'contact_field_value_column' when calling PromptsApi.create_prompt_bot" if contact_field_value_column.nil?
      # verify the required parameter 'bot_type_id' is set
      fail ArgumentError, "Missing the required parameter 'bot_type_id' when calling PromptsApi.create_prompt_bot" if bot_type_id.nil?
      # verify the required parameter 'template_id' is set
      fail ArgumentError, "Missing the required parameter 'template_id' when calling PromptsApi.create_prompt_bot" if template_id.nil?
      # resource path
      local_var_path = "/prompts/bots".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}
      form_params["emailId"] = email_id
      form_params["name"] = name
      form_params["subject"] = subject
      form_params["content"] = content
      form_params["contactFieldValueColumn"] = contact_field_value_column
      form_params["botTypeId"] = bot_type_id
      form_params["templateId"] = template_id
      form_params["listId"] = opts[:'list_id'] if !opts[:'list_id'].nil?
      form_params["videoId"] = opts[:'video_id'] if !opts[:'video_id'].nil?
      form_params["endDate"] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PromptBot')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#create_prompt_bot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Prompts user to send a video
    # Sends the account holder an email prompting them to add a video to a scheduled outgoing message. Recipients, content and timing is all preset for the user.
    # @param prompt The Video Email Prompt to be created
    # @param [Hash] opts the optional parameters
    # @return [VideoEmailPrompt]
    def create_video_email_prompt(prompt, opts = {})
      data, _status_code, _headers = create_video_email_prompt_with_http_info(prompt, opts)
      return data
    end

    # Prompts user to send a video
    # Sends the account holder an email prompting them to add a video to a scheduled outgoing message. Recipients, content and timing is all preset for the user.
    # @param prompt The Video Email Prompt to be created
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoEmailPrompt, Fixnum, Hash)>] VideoEmailPrompt data, response status code and response headers
    def create_video_email_prompt_with_http_info(prompt, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.create_video_email_prompt ..."
      end
      # verify the required parameter 'prompt' is set
      fail ArgumentError, "Missing the required parameter 'prompt' when calling PromptsApi.create_video_email_prompt" if prompt.nil?
      # resource path
      local_var_path = "/prompt".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(prompt)
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VideoEmailPrompt')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#create_video_email_prompt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List alternate campaign content
    # Returns a list of alternate campaign content by campaign id
    # @param client_group_id Id for the campaign
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_alternate_campaign_content(client_group_id, opts = {})
      get_alternate_campaign_content_with_http_info(client_group_id, opts)
      return nil
    end

    # List alternate campaign content
    # Returns a list of alternate campaign content by campaign id
    # @param client_group_id Id for the campaign
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_alternate_campaign_content_with_http_info(client_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.get_alternate_campaign_content ..."
      end
      # verify the required parameter 'client_group_id' is set
      fail ArgumentError, "Missing the required parameter 'client_group_id' when calling PromptsApi.get_alternate_campaign_content" if client_group_id.nil?
      # resource path
      local_var_path = "/campaign/{campaignId}/content/alternate".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'clientGroupId'] = client_group_id

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#get_alternate_campaign_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pending prompts
    # Returns a list of prompts that have not been sent yet, and can still be customized.
    # @param [Hash] opts the optional parameters
    # @return [Array<VideoEmailPrompt>]
    def get_pending_video_email_prompts(opts = {})
      data, _status_code, _headers = get_pending_video_email_prompts_with_http_info(opts)
      return data
    end

    # List pending prompts
    # Returns a list of prompts that have not been sent yet, and can still be customized.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VideoEmailPrompt>, Fixnum, Hash)>] Array<VideoEmailPrompt> data, response status code and response headers
    def get_pending_video_email_prompts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.get_pending_video_email_prompts ..."
      end
      # resource path
      local_var_path = "/prompt/pending".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<VideoEmailPrompt>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#get_pending_video_email_prompts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Prompt Bots
    # Returns a list of all Prompt Bots for the user.
    # @param [Hash] opts the optional parameters
    # @return [Array<PromptBot>]
    def get_prompt_bots(opts = {})
      data, _status_code, _headers = get_prompt_bots_with_http_info(opts)
      return data
    end

    # List Prompt Bots
    # Returns a list of all Prompt Bots for the user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PromptBot>, Fixnum, Hash)>] Array<PromptBot> data, response status code and response headers
    def get_prompt_bots_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.get_prompt_bots ..."
      end
      # resource path
      local_var_path = "/prompts/bots".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<PromptBot>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#get_prompt_bots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Prompt Campaigns
    # Returns a list of all Prompt Campaigns for the user.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_prompt_campaigns(opts = {})
      get_prompt_campaigns_with_http_info(opts)
      return nil
    end

    # List Prompt Campaigns
    # Returns a list of all Prompt Campaigns for the user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_prompt_campaigns_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.get_prompt_campaigns ..."
      end
      # resource path
      local_var_path = "/prompts/{userId}/campaigns".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#get_prompt_campaigns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a prompt
    # Gets a prompt
    # @param id The Id of the prompt
    # @param [Hash] opts the optional parameters
    # @return [VideoEmailPrompt]
    def get_video_email_prompt(id, opts = {})
      data, _status_code, _headers = get_video_email_prompt_with_http_info(id, opts)
      return data
    end

    # Gets a prompt
    # Gets a prompt
    # @param id The Id of the prompt
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoEmailPrompt, Fixnum, Hash)>] VideoEmailPrompt data, response status code and response headers
    def get_video_email_prompt_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.get_video_email_prompt ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.get_video_email_prompt" if id.nil?
      # resource path
      local_var_path = "/prompt/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VideoEmailPrompt')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#get_video_email_prompt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List prompts
    # Returns a list of all prompts.
    # @param [Hash] opts the optional parameters
    # @return [Array<VideoEmailPrompt>]
    def get_video_email_prompts(opts = {})
      data, _status_code, _headers = get_video_email_prompts_with_http_info(opts)
      return data
    end

    # List prompts
    # Returns a list of all prompts.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VideoEmailPrompt>, Fixnum, Hash)>] Array<VideoEmailPrompt> data, response status code and response headers
    def get_video_email_prompts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.get_video_email_prompts ..."
      end
      # resource path
      local_var_path = "/prompt/".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<VideoEmailPrompt>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#get_video_email_prompts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Respond to a prompt
    # Respond to a prompt by either adding a video, sending without a video or cancelling the prompt.
    # @param id The id of the prompt.
    # @param choice The users&#39; selection. Can be: WithVideo, WithEmail, Cancel, Restore, Reset, Manual
    # @param [Hash] opts the optional parameters
    # @option opts [String] :video_id The id of the video.
    # @option opts [String] :email_id The id of the email.
    # @option opts [String] :subject The subject of the email
    # @return [VideoEmailPrompt]
    def respond_to_video_email_prompt(id, choice, opts = {})
      data, _status_code, _headers = respond_to_video_email_prompt_with_http_info(id, choice, opts)
      return data
    end

    # Respond to a prompt
    # Respond to a prompt by either adding a video, sending without a video or cancelling the prompt.
    # @param id The id of the prompt.
    # @param choice The users&#39; selection. Can be: WithVideo, WithEmail, Cancel, Restore, Reset, Manual
    # @param [Hash] opts the optional parameters
    # @option opts [String] :video_id The id of the video.
    # @option opts [String] :email_id The id of the email.
    # @option opts [String] :subject The subject of the email
    # @return [Array<(VideoEmailPrompt, Fixnum, Hash)>] VideoEmailPrompt data, response status code and response headers
    def respond_to_video_email_prompt_with_http_info(id, choice, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.respond_to_video_email_prompt ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.respond_to_video_email_prompt" if id.nil?
      # verify the required parameter 'choice' is set
      fail ArgumentError, "Missing the required parameter 'choice' when calling PromptsApi.respond_to_video_email_prompt" if choice.nil?
      # verify enum value
      unless ['WithVideo', 'WithEmail', 'Cancel', 'Restore', 'Reset', 'Manual'].include?(choice)
        fail ArgumentError, "invalid value for 'choice', must be one of WithVideo, WithEmail, Cancel, Restore, Reset, Manual"
      end
      # resource path
      local_var_path = "/prompt/{id}/response".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}
      form_params["choice"] = choice
      form_params["videoId"] = opts[:'video_id'] if !opts[:'video_id'].nil?
      form_params["emailId"] = opts[:'email_id'] if !opts[:'email_id'].nil?
      form_params["subject"] = opts[:'subject'] if !opts[:'subject'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VideoEmailPrompt')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#respond_to_video_email_prompt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Syncs Campaigns and One to Ones Subscriptions for User
    # Syncs Campaigns and One to Ones Subscriptions for User based on their profile information. The user must be a Prompt Subscriber.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :migrate After syncing, migrate away from old campaigns.
    # @return [nil]
    def sync_prompt_subscriptions(opts = {})
      sync_prompt_subscriptions_with_http_info(opts)
      return nil
    end

    # Syncs Campaigns and One to Ones Subscriptions for User
    # Syncs Campaigns and One to Ones Subscriptions for User based on their profile information. The user must be a Prompt Subscriber.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :migrate After syncing, migrate away from old campaigns.
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def sync_prompt_subscriptions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.sync_prompt_subscriptions ..."
      end
      # resource path
      local_var_path = "/prompts/campaigns/sync".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}
      form_params["migrate"] = opts[:'migrate'] if !opts[:'migrate'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#sync_prompt_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Prompt
    # Updates a Prompt
    # @param id The prompt&#39;s id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :send_mechanism The mechanism for the prompt to be sent
    # @option opts [String] :facebook_message The facebook message assigned to the prompt
    # @option opts [String] :twitter_message The twitter message assigned to the prompt
    # @option opts [String] :video_id The id of the video.
    # @option opts [String] :email_id The id of the email.
    # @option opts [String] :subject The subject of the email
    # @option opts [String] :reset_cache The subject of the email
    # @option opts [String] :reset_email_content The subject of the email
    # @option opts [String] :status The status of the prompt
    # @return [nil]
    def update_prompt(id, opts = {})
      update_prompt_with_http_info(id, opts)
      return nil
    end

    # Update Prompt
    # Updates a Prompt
    # @param id The prompt&#39;s id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :send_mechanism The mechanism for the prompt to be sent
    # @option opts [String] :facebook_message The facebook message assigned to the prompt
    # @option opts [String] :twitter_message The twitter message assigned to the prompt
    # @option opts [String] :video_id The id of the video.
    # @option opts [String] :email_id The id of the email.
    # @option opts [String] :subject The subject of the email
    # @option opts [String] :reset_cache The subject of the email
    # @option opts [String] :reset_email_content The subject of the email
    # @option opts [String] :status The status of the prompt
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_prompt_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.update_prompt ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.update_prompt" if id.nil?
      # resource path
      local_var_path = "/prompts/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}
      form_params["sendMechanism"] = opts[:'send_mechanism'] if !opts[:'send_mechanism'].nil?
      form_params["facebookMessage"] = opts[:'facebook_message'] if !opts[:'facebook_message'].nil?
      form_params["twitterMessage"] = opts[:'twitter_message'] if !opts[:'twitter_message'].nil?
      form_params["videoId"] = opts[:'video_id'] if !opts[:'video_id'].nil?
      form_params["emailId"] = opts[:'email_id'] if !opts[:'email_id'].nil?
      form_params["subject"] = opts[:'subject'] if !opts[:'subject'].nil?
      form_params["resetCache"] = opts[:'reset_cache'] if !opts[:'reset_cache'].nil?
      form_params["resetEmailContent"] = opts[:'reset_email_content'] if !opts[:'reset_email_content'].nil?
      form_params["status"] = opts[:'status'] if !opts[:'status'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#update_prompt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Prompt Bot
    # Updates a Prompt Bot's settings.
    # @param id The bot id.
    # @param email_id The default email to use.
    # @param name The name of the bot.
    # @param subject The subject of the default email.
    # @param content The content used in the default email.
    # @param contact_field_value_column The custom field value column with dates for this bot.
    # @param template_id The template used to create the email id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :list_id The list id to attach the bot to.
    # @option opts [String] :video_id The video used in the default email.
    # @option opts [String] :end_date The time frame to complete sending to the list.
    # @option opts [String] :status The status of the bot.
    # @return [PromptBot]
    def update_prompt_bot(id, email_id, name, subject, content, contact_field_value_column, template_id, opts = {})
      data, _status_code, _headers = update_prompt_bot_with_http_info(id, email_id, name, subject, content, contact_field_value_column, template_id, opts)
      return data
    end

    # Update Prompt Bot
    # Updates a Prompt Bot&#39;s settings.
    # @param id The bot id.
    # @param email_id The default email to use.
    # @param name The name of the bot.
    # @param subject The subject of the default email.
    # @param content The content used in the default email.
    # @param contact_field_value_column The custom field value column with dates for this bot.
    # @param template_id The template used to create the email id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :list_id The list id to attach the bot to.
    # @option opts [String] :video_id The video used in the default email.
    # @option opts [String] :end_date The time frame to complete sending to the list.
    # @option opts [String] :status The status of the bot.
    # @return [Array<(PromptBot, Fixnum, Hash)>] PromptBot data, response status code and response headers
    def update_prompt_bot_with_http_info(id, email_id, name, subject, content, contact_field_value_column, template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.update_prompt_bot ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.update_prompt_bot" if id.nil?
      # verify the required parameter 'email_id' is set
      fail ArgumentError, "Missing the required parameter 'email_id' when calling PromptsApi.update_prompt_bot" if email_id.nil?
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling PromptsApi.update_prompt_bot" if name.nil?
      # verify the required parameter 'subject' is set
      fail ArgumentError, "Missing the required parameter 'subject' when calling PromptsApi.update_prompt_bot" if subject.nil?
      # verify the required parameter 'content' is set
      fail ArgumentError, "Missing the required parameter 'content' when calling PromptsApi.update_prompt_bot" if content.nil?
      # verify the required parameter 'contact_field_value_column' is set
      fail ArgumentError, "Missing the required parameter 'contact_field_value_column' when calling PromptsApi.update_prompt_bot" if contact_field_value_column.nil?
      # verify the required parameter 'template_id' is set
      fail ArgumentError, "Missing the required parameter 'template_id' when calling PromptsApi.update_prompt_bot" if template_id.nil?
      # resource path
      local_var_path = "/prompts/bots/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}
      form_params["emailId"] = email_id
      form_params["name"] = name
      form_params["subject"] = subject
      form_params["content"] = content
      form_params["contactFieldValueColumn"] = contact_field_value_column
      form_params["templateId"] = template_id
      form_params["listId"] = opts[:'list_id'] if !opts[:'list_id'].nil?
      form_params["videoId"] = opts[:'video_id'] if !opts[:'video_id'].nil?
      form_params["endDate"] = opts[:'end_date'] if !opts[:'end_date'].nil?
      form_params["status"] = opts[:'status'] if !opts[:'status'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PromptBot')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#update_prompt_bot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Prompt Campaign
    # Updates a Prompt Campaign's Settings
    # @param client_group_id The client group of the campaign.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branded_template_id The template to use for branded feel emails.
    # @option opts [String] :personal_template_id The template to use for personal feel emails.
    # @option opts [BOOLEAN] :enabled Set whether the user is able to start receiving prompts.
    # @option opts [String] :send_mechanism The way to send the prompt
    # @return [nil]
    def update_prompt_campaign(client_group_id, opts = {})
      update_prompt_campaign_with_http_info(client_group_id, opts)
      return nil
    end

    # Update Prompt Campaign
    # Updates a Prompt Campaign&#39;s Settings
    # @param client_group_id The client group of the campaign.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :branded_template_id The template to use for branded feel emails.
    # @option opts [String] :personal_template_id The template to use for personal feel emails.
    # @option opts [BOOLEAN] :enabled Set whether the user is able to start receiving prompts.
    # @option opts [String] :send_mechanism The way to send the prompt
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_prompt_campaign_with_http_info(client_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.update_prompt_campaign ..."
      end
      # verify the required parameter 'client_group_id' is set
      fail ArgumentError, "Missing the required parameter 'client_group_id' when calling PromptsApi.update_prompt_campaign" if client_group_id.nil?
      # resource path
      local_var_path = "/prompts/campaigns/{id}".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}
      form_params["clientGroupId"] = client_group_id
      form_params["brandedTemplateId"] = opts[:'branded_template_id'] if !opts[:'branded_template_id'].nil?
      form_params["personalTemplateId"] = opts[:'personal_template_id'] if !opts[:'personal_template_id'].nil?
      form_params["enabled"] = opts[:'enabled'] if !opts[:'enabled'].nil?
      form_params["sendMechanism"] = opts[:'send_mechanism'] if !opts[:'send_mechanism'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#update_prompt_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Prompt Content
    # Updates a Prompt Content
    # @param id The prompt&#39;s id
    # @param alternate_content_id The alternate content id
    # @param new_email_id The prompt&#39;s new email id
    # @param og_email_id The prompt&#39;s original email id
    # @param new_example_video_id The prompt&#39;s new tutorial video id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_prompt_template(id, alternate_content_id, new_email_id, og_email_id, new_example_video_id, opts = {})
      update_prompt_template_with_http_info(id, alternate_content_id, new_email_id, og_email_id, new_example_video_id, opts)
      return nil
    end

    # Update Prompt Content
    # Updates a Prompt Content
    # @param id The prompt&#39;s id
    # @param alternate_content_id The alternate content id
    # @param new_email_id The prompt&#39;s new email id
    # @param og_email_id The prompt&#39;s original email id
    # @param new_example_video_id The prompt&#39;s new tutorial video id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_prompt_template_with_http_info(id, alternate_content_id, new_email_id, og_email_id, new_example_video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PromptsApi.update_prompt_template ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.update_prompt_template" if id.nil?
      # verify the required parameter 'alternate_content_id' is set
      fail ArgumentError, "Missing the required parameter 'alternate_content_id' when calling PromptsApi.update_prompt_template" if alternate_content_id.nil?
      # verify the required parameter 'new_email_id' is set
      fail ArgumentError, "Missing the required parameter 'new_email_id' when calling PromptsApi.update_prompt_template" if new_email_id.nil?
      # verify the required parameter 'og_email_id' is set
      fail ArgumentError, "Missing the required parameter 'og_email_id' when calling PromptsApi.update_prompt_template" if og_email_id.nil?
      # verify the required parameter 'new_example_video_id' is set
      fail ArgumentError, "Missing the required parameter 'new_example_video_id' when calling PromptsApi.update_prompt_template" if new_example_video_id.nil?
      # resource path
      local_var_path = "/prompts/{id}/content".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/x-www-form-urlencoded']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}
      form_params["alternateContentId"] = alternate_content_id
      form_params["newEmailId"] = new_email_id
      form_params["ogEmailId"] = og_email_id
      form_params["newExampleVideoId"] = new_example_video_id

      # http body (model)
      post_body = nil
      auth_names = ['BBOAuth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#update_prompt_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
